<!DOCTYPE html>
<html>
<head>
	<title>RPG Adventure</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/dado.css">
</head>
<body>
	<div class="container col-centered">
		<div class="container">
			<select>
				<option value="war">Guerrero</option>
				<option value="arc">Arquero</option>
				<option value="mag">Mago</option>
			</select>
			<button type="button">Seleccionar</button>
		</div>
	</div>
</body>