body{
	background-color: darkgray;
	margin: 0;
	padding: 0;
}
svg{
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: black;
}

#lat-izq, #lat-der{
	background-image: url('../img/battlebg/wood.jpg');
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 20%;
	height: 800px;
}

#prueba{
	background-image: url('../img/battlebg/CmBkGrTr.png');
	background-repeat: repeat-y;
	background-size: contain;
}

#ventana_lucha{
	position: relative;
	width: 800px;
	height: 550px;
}

.inactiva{
	z-index: -10;
}

#tablero{
	width: 60%;
	height: 800px;
	margin: 0;
	padding: 0;
}

#avatar{
	overflow: hidden;
	width: 100px;
	height: 100px;
	background: url('../img/characters/guerrero/Swordsman.png');
	z-index: 998;
}

#lucha{
	background-image: url('../img/battlebg/CmBkGrTr.png');
	background-repeat: no-repeat;
	background-size: contain;
}