<!DOCTYPE html>
<html>
<head>
	<title>RPG Adventure</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='icon' type='image/png' href='/img/favicon.png'>
	<link rel='stylesheet' type='text/css' href='/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='/css/style.css'>
	<link rel='stylesheet' type='text/css' href='/css/dado.css'>
	<script src='/socket.io/socket.io.js' charset='utf-8'></script>
</head>
<body>
	<div class='container'>
		<div class="jumbotron" style="margin-top:10%;border-radius: 10px;box-shadow: 0 8px 16px -6px black;">
			<h2>Tu aventura en RPG Adventure ha terminado</h2>
			<button type="button" class="btn btn-primary" onclick="window.location.replace('/');">Volver al inicio</button>	
		</div>
	</div>
	
	
	
	<script type='text/javascript' src='/js/svg.js'></script>
	<script type='text/javascript' src='/js/jquery-3.2.1.js'></script>
	<script type='text/javascript' src='/js/bootstrap.min.js'></script>
	
</body>
</html>